* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	background: #F9EAE1;
}
p {
	padding: 2px;
	text-align: left;
	overflow: hidden;
}
h2 {
	padding: 5px;
	font-size: 18px;
}
h3 {
	font-size: 12px;
	padding: 2px;
}
.header {
	color: white;
	padding-top: 25px;
	padding-left: 10px;
	background-color: #80C7F7;
	height: 60px;
	width: 100%;
	text-align: left;
	font-family: 'Public Sans', sans-serif;
	font-size: 15px;


}
.inside-header {
	background-color: white;
	height: 100%;
	width: 50%;
	margin: 5px auto;
	border-radius: 3px;
	border: 1px solid white;


}




.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

img {
	height: auto;
	width: 25px;
	float: left;
	padding: 2px;
	margin: 5px;
}
.team-mngt {
	background-color: #E7E9E6;
	height: 120px;
	width: 45%;
	margin: 6px 2.2%;
	float: left;
	border: 1px solid black;
	padding: 10px;
	border-radius: 3px;
	font-size: 8px;
}



footer {
	height: 30px;
	width: 100%;
	text-align: center;
	background-color: blue;
	color: white;
	font-size: 10px;
	padding: 10px;		

}
ul {
	list-style-type: none;
	background-color: transparent;
	margin:  0;
	padding: 0;	
	overflow: hidden;
	text-align: center;
/*	position: relative;*/
	display: inline-block;



}


li {
	float: left;

}

li a, .dropbtn {
	display: inline-block;
	color: black;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: red;
}
	

li.dropdown {
	display: inline-block;	
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  			width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
	background-color: blue;

}
.dropdown:hover .dropdown-content {
	display: block;
}

.navbar {
	width: 100%;
	text-align: center;
}


